
@section Style {



    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/pricing.css">

    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->
}

<!--Simple Line Chart-->
<div class="row">
    <h4 class="header">Grupo de gráfica 1</h4>
    <p>Show your business trending chart using this widgets.</p>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Total Visit</h4>
                    </div>
                    <div class="col s12 display-flex">
                        <div id="sales-bar-1"></div>
                        <p class="mt-4 pink-text accent-2">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_upward</i>
                            9504
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Total Page Views</h4>
                    </div>
                    <div class="col s12 display-flex">
                        <div id="sales-bar-2"></div>
                        <p class="mt-4 blue-text">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_upward</i>
                            1896
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Unique Visitor</h4>
                    </div>
                    <div class="col s12 display-flex light-green-text">
                        <div id="sales-bar-3"></div>
                        <p class="mt-4 ">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_upward</i>
                            8546
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="ct-chart card z-depth-2 border-radius-6">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h4 class="card-title">Bounce Rate</h4>
                    </div>
                    <div class="col s12 display-flex amber-text accent-2">
                        <div id="sales-bar-4"></div>
                        <p class="mt-4 ">
                            <i class="material-icons dp48 vertical-align-bottom">arrow_downward</i>
                            15%
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider mt-2"></div>

    <!--chart dashboard start-->
    <div id="chart-dashboard" class="seaction">
        <h4 class="header">Grupo de gráficas 2 </h4>
        <p>Show your business trending chart using this widgets.</p>
        <div class="row">
            <div class="col s12 m8 l8">
                <div class="card">
                    <div class="card-move-up waves-effect waves-block waves-light">
                        <div class="move-up cyan darken-1">
                            <div>
                                <span class="chart-title white-text">Revenue</span>
                                <div class="chart-revenue cyan darken-2 white-text">
                                    <p class="chart-revenue-total">$4,500.85</p>
                                    <p class="chart-revenue-per"><i class="material-icons">arrow_drop_up</i> 21.80 %</p>
                                </div>
                                <div class="switch chart-revenue-switch right">
                                    <label class="cyan-text text-lighten-5">
                                        Month <input type="checkbox" /> <span class="lever"></span> Year
                                    </label>
                                </div>
                            </div>
                            <div class="revenue-line-chart-wrapper"><canvas id="revenue-line-chart" height="70"></canvas></div>
                        </div>
                    </div>
                    <div class="card-content">
                        <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                            <i class="material-icons activator">filter_list</i>
                        </a>
                        <div class="col s12 m3 l3">
                            <div id="doughnut-chart-wrapper">
                                <canvas id="doughnut-chart" height="200"></canvas>
                                <div class="doughnut-chart-status">
                                    <p class="center-align font-weight-600 mt-4">4500</p>
                                    <p class="ultra-small center-align">Sold</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m2 l2">
                            <ul class="doughnut-chart-legend">
                                <li class="mobile ultra-small"><span class="legend-color"></span>Mobile</li>
                                <li class="kitchen ultra-small"><span class="legend-color"></span> Kitchen</li>
                                <li class="home ultra-small"><span class="legend-color"></span> Home</li>
                            </ul>
                        </div>
                        <div class="col s12 m5 l6">
                            <div class="trending-bar-chart-wrapper"><canvas id="trending-bar-chart" height="90"></canvas></div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Revenue by Month <i class="material-icons right">close</i>
                        </span>
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th data-field="id">ID</th>
                                    <th data-field="month">Month</th>
                                    <th data-field="item-sold">Item Sold</th>
                                    <th data-field="item-price">Item Price</th>
                                    <th data-field="total-profit">Total Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>January</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>February</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>March</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>April</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>May</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>June</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>July</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>August</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Septmber</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Octomber</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>November</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>December</td>
                                    <td>122</td>
                                    <td>100</td>
                                    <td>$122,00.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-move-up teal accent-4 waves-effect waves-block waves-light">
                        <div class="move-up">
                            <p class="margin white-text">Browser Stats</p>
                            <canvas id="trending-radar-chart" height="114"></canvas>
                        </div>
                    </div>
                    <div class="card-content  teal">
                        <a class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                            <i class="material-icons activator">done</i>
                        </a>
                        <div class="line-chart-wrapper">
                            <p class="margin white-text">Revenue by country</p>
                            <canvas id="line-chart" height="114"></canvas>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Revenue by country <i class="material-icons right">close</i>
                        </span>
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th data-field="country-name">Country Name</th>
                                    <th data-field="item-sold">Item Sold</th>
                                    <th data-field="total-profit">Total Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>USA</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Canada</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Brazil</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>India</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>France</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Austrelia</td>
                                    <td>65</td>
                                    <td>$452.55</td>
                                </tr>
                                <tr>
                                    <td>Russia</td>
                                    <td>76</td>
                                    <td>$452.55</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col s12 m12 l4">
            <div class="ct-chart card z-depth-2 border-radius-6">
                <div class="card-content">
                    <h4 class="card-title">Tristate chart</h4>
                    <div id="profit-tristate" class="center"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="ct-chart card z-depth-2 border-radius-6">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="card-title">Bar Chart</h4>
                        </div>
                        <div class="col s12">
                            <div id="bar-chart-sample" class="center"></div>
                        </div>
                    </div>
                </div>+
            </div>
        </div>
        <div class="col s12 m12 l4">
            <div class="ct-chart card z-depth-2 border-radius-6">
                <div class="card-content">
                    <h4 class="card-title">Bar + line composite charts</h4>
                    <div id="sales-compositebar" class="center"></div>
                </div>
            </div>
        </div>*@
</div>
<div class="col s12">
    <br>
    <br>
    <div class="divider"></div>
    <h4 class="header">Acciones</h4>
</div>
<div class="plans-container">
    <div class="col s12 m6 l3">
        <div class="card hoverable animate fadeLeft">
            <div class="card-image teal waves-effect">
                <div class="card-title">CLIENTES</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">card_travel</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de clientes</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card hoverable animate fadeUp">
            <div class="card-image teal waves-effect">
                <div class="card-title">SUPLIDORES</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">local_shipping</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de Suplidores</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card hoverable animated fadeInDown">
            <div class="card-image teal waves-effect">
                <div class="card-title">INVENTARIO</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">layers</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de piezas</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card hoverable animate fadeRight">
            <div class="card-image teal waves-effect">
                <div class="card-title">VENTAS / ALQUILER</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">shopping_basket</i>
                    @*<sup>$</sup>9
                    <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de Contratos</div>
            </div>
            @*<div class="card-content">
                <ul class="collection">
                    <li class="collection-item">500 emails</li>
                    <li class="collection-item">Unlimited data</li>
                    <li class="collection-item">1 users</li>
                    <li class="collection-item">First 15 day free</li>
                </ul>
            </div>*@
            @*<div class="card-action center-align">
                <button class="waves-effect waves-light  btn">Select Plan</button>
            </div>*@
        </div>
    </div>
</div>

<div class="plans-container">
    <div class="col s12 m6 l3">
        <div class="card hoverable animate fadeLeft">
            <div class="card-image teal waves-effect">
                <div class="card-title">FACTURACIÓN</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">receipt</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de Facturas</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card hoverable animate fadeUp">
            <div class="card-image teal waves-effect">
                <div class="card-title">CUENTAS POR COBRAR</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">attach_money</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de Estados de Cuenta</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card hoverable animated fadeInDown">
            <div class="card-image teal waves-effect">
                <div class="card-title">REPORTES</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">pie_chart</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Generación de Reportes</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card hoverable animate fadeRight">
            <div class="card-image teal waves-effect">
                <div class="card-title">SEGURIDAD</div>

                <div class="price">
                    <i class="material-icons" style="font-size: 70px">account_circle</i>
                    @*<sup>$</sup>9
                        <sub>/mo</sub>*@
                </div>
                <div class="price-desc">Administración de Usuarios</div>
            </div>
            @*<div class="card-content">
                    <ul class="collection">
                        <li class="collection-item">500 emails</li>
                        <li class="collection-item">Unlimited data</li>
                        <li class="collection-item">1 users</li>
                        <li class="collection-item">First 15 day free</li>
                    </ul>
                </div>*@
            @*<div class="card-action center-align">
                    <button class="waves-effect waves-light  btn">Select Plan</button>
                </div>*@
        </div>
    </div>
</div>
@section Scripts
{
    <!-- END: Footer-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/app-assets/vendors/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/charts-sparklines.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/chartjs/chart.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/card-advanced.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>

}
